.introduce {
    user-select: none;
    animation: show 1s linear;

    @media(max-width: 500px) {
        margin-top: 10px;
    }

    .image {
        img {
            border-radius: 80px;
            width: 500px;
        }
    }

    article {
        overflow: hidden;

        &:hover .title::after {
            transition: 1s;
            width: 100%;
        }

        .title {
            position: relative;
            justify-content: left;
            width: fit-content;
            margin-bottom: 30px;

            @include breakPoint(mobile) {
                justify-content: center;
                margin-bottom: 30px;

                &.introduce {
                    margin: 0 auto 30px;
                }
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                background-color: $mainColor;
            }

            &::before {
                width: 100%;
                height: 2px;

            }

            &::after {
                bottom: -19px;
                width: 40%;
                height: 10px;
                border-radius: 10px;
                transition: 1s;
            }

            h3 {}

            img {}
        }

        p {

            text-align: left;

            @include breakPoint(mobile) {
                text-align: center;
            }

            color: #777;
            line-height: 1.5;
            word-spacing: 1px;
        }

        pre {
            margin-left: -15px;
            margin-top: -25px;
            text-align: left;
            color: #777;
            text-transform: capitalize;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.7;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (max-width: 500px) {
                font-size: 16px;
            }
        }

        ul {
            margin-top: 15px;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: left;

            @include breakPoint(mobile) {
                align-items: center;

            }
        }

        li {
            color: #333;
            text-align: left;

            span {
                cursor: text;
                user-select: all;
                color: #999;

            }
        }
    }
}